.App {
  font: 14px 'Century Gothic', Futura, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}
