.App {
  font: 14px "Century Gothic", Futura, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
