.Chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.table {
    display: flex;
    flex-direction: column;
}

.updatedDate {
    font-size: 150%;
    align-self: center;
}
